<ion-header>
  <ion-toolbar>
    <ion-title>Consultar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="!mostrarResultados">
    <ion-card-header>
      <ion-card-title>Búsqueda de Producto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre del Producto</ion-label>
        <ion-input [(ngModel)]="nombreProducto"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="buscarProducto()">Consultar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="mostrarResultados">
    <ion-card-header>
      <ion-card-title>Resultados</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let producto of productos">
        <ion-label>
          <h2>{{ producto.NOMBRE_PRODUCTO }}</h2>
          <p>Capacidad: {{ producto.CAPACIDAD }}</p>
          <p>Stock: {{ producto.STOCK }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="full" color="danger" (click)="resetFormulario()">Volver</ion-button>
  </ion-card>
</ion-content>
